$orange:#FF5B35;
$bg:#E8E7DF;
$secbg:#F5F5F1;
$blue:#32C0CE;
$yellow:#F4D961;


$containerWidth:1300 + px;


$breakPoint1440:1440 + px;
$breakPoint1200:1200 + px;
$breakPoint940:940 + px;
$breakPoint590:590 + px;